---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Blog | Southern Tier Robotics',
	description: 'Southern Tier Robotics Blog Page',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>STR Blog</h1>
			<p>The 2024 FIRST® Robotics Competition (For Inspiration and Recognition of Science and Technology) has officially begun. We've been really busy with the design, build, test (and design, build, test, … it just keeps  going!) of our robot. The initial “trial by fire” for our robot will be at our first competition in Pittsburgh from February 28th to March 2nd. You can get more information about the competition here: https://www.firstinspires.org/robotics/frc</p>
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Recent Posts</h2>
			<BlogPostsList {posts} />
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
