---
import { TextSection } from '@components/odyssey-theme';
import ImageTextCard from '../../components/cards/ImageTextCard.astro';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: `Sponsor Page`,
	description: `Our current sponsors and information on how to sponsor our team.`,
};
---

<Layout {seo}>
	<TextSection narrow>
		<h1>Support Us</h1>

		<p>
			If you are interested in becoming a sponsor of the team, or are looking to
			do an in-kind donation, please contact us at
			southerntierrobotics@gmail.com
		</p>

		<h1>Current Sponsors:</h1>
		<ImageTextCard
			title="Vestal Central School District"
			imgSrc="/assets/images/sponsor/vestal-logo.webp"
			description=""
		/>
		<br />
		<ImageTextCard
			title="Gene Haas Foundation"
			imgSrc="/assets/images/sponsor/haas.webp"
			description=""
		/>
		<br />
		<ImageTextCard
			title="BAE Systems"
			imgSrc="/assets/images/sponsor/BAEsystem.sponsor.webp"
			description=""
		/>
		<br />
		<ImageTextCard
			title="CMP Advanced Mechanical Solutions"
			imgSrc="/assets/images/sponsor/CMP-white-red.png"
			description=""
		/>
		<br />
		<ImageTextCard
			title="Binghamton University Athletic Robotics Club"
			imgSrc="/assets/images/sponsor/acr.jpg"
			description=""
		/>
		<br />
		<ImageTextCard
			title="Lockheed Martin"
			imgSrc="/assets/images/sponsor/LM-logo.svg"
			description=""
		/>
		<br />
		<ImageTextCard
			title="State Line Auto Auction"
			imgSrc="/assets/images/sponsor/slaaLogo.svg"
			description=""
		/>
		<br />
</Layout>