---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import ImageTextCard from '../components/cards/ImageTextCard.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Core Values:</h2>
			<div class="feature-card__grid">
				<ImageTextCard
					title="Engineering"
					imgSrc="https://d2je6s0jo9muku.cloudfront.net/Picture1.webp"
					description="Each year we push our robots to a higher level by using advanced software, machining and design techniques using equipment we have in our shop. With access to CNC Mills, Lathes, and other machines, this allows us to design the most optimized parts for our robot easily. "
				/>
				<ImageTextCard
					title="Learning"
					imgSrc="https://d2je6s0jo9muku.cloudfront.net/learning2023.webp"
					description="Our club is supported by mentors from local engineering companies, as well as teachers, and other adults. This allows students to get REAL, PRACTICAL, knowledge about engineering tools and processes. A lot of our students have been inspired about what they want to do after high school from our organization. "
				/>
				<ImageTextCard
					title="Community"
					imgSrc="https://d2je6s0jo9muku.cloudfront.net/community.webp"
					description="One of the goals of all FIRST teams is to spread the message of FIRST and promote STEAM throughout the community. We do outreach events such as visiting local elementary and middle schools, doing fundraisers, and STEAM events. "
				/>
				<ImageTextCard
					title="Competition"
					imgSrc="https://d2je6s0jo9muku.cloudfront.net/2023_comp.webp"
					description="A huge part of the FIRST organization is competition. We strive to build a better robot than we did last year and win the events we go to. We have consistently placed in the playoff brackets every year we have competed. "
				/>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
