---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Southern Tier Robotics',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Southern Tier Robotics</h1>
			<p>
				Southern Tier Robotics particpates in the FIRST® (For Inspiration and Recognition of
				Science and Technology) Robotics Competition
				which is part of the FIRST® organization. We are located in Vestal, NY.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/2023PitCrew.jpg"
				alt="A picture of team 2053 before competition in 2022."
				id="about-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<h3>What is FIRST?</h3>
		<p>
			The mission of FIRST® is to inspire young people to be science and technology leaders and 
			innovators, engaging them in exciting mentor-based programs that develop STEM skills, foster 
			innovation, and build well-rounded life capabilities, including self-confidence, 
			communication, and leadership (firstinspires.org).FIRST® has multiple programs at each grade 
			level Pre-K - 12th grade. The competition that Southern Tier Robotics participates in is 
			called the FIRST Robotics Competition.
		</p>

		<h3>What is the FIRST Robotics Competition</h3>
		<p>
			FIRST® Robotics Competition allows students from grade 9-12 to compete in a
			game that changes each year. In January of each year, FIRST® reveals the
			game that all other teams must compete in. Then for 6 weeks, students and
			mentors spend time designing, building, and programming a ~120 pound robot
			from scratch. After the robot is built, the team travels to different
			regional competitions and competes against other teams. The format of the
			game is 3v3, so teams get randomly paired up during the seeding matches.
			Then alliances are formed for the playoff matches with the top 8 teams
			selected other teams they want to pair up with. If you win the
			competition, you and your alliance members get invited to the world
			competition, where teams from all over the world come to compete.
		</p>

		<h3>Team History</h3>
		<p>
			The team was founded in 2007 under the name Tigertronics and operated out
			of Union Endicott High School. Throughout the years, our team has gain and
			lost mentors, seen students graduate high school and college, and join the
			workforce (And some even come back to mentor the team). But most of all,
			our team's robot keep getting better and better each year. The FIRST®
			Robotics Competition events were cancelled in 2020-2021 because of COVID,
			and the team decided to move the headquarters of the team to Vestal High
			School. During this transition, we decided to change the name to better
			reflect the multi school participation we have. You can see an overview of
			old robots on our history page.
		</p>
	</TextSection>
</Layout>
