---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Current Season | Southern Tier Robotics',
	description: 'Information about the current season',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>FIRST: Charged UP</h1>
			<p>Kickoff on January 7th, 12pm EST at VHS.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/charged-up.png"
				alt="Charged Up Logo"
				id="current-season-logo"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			Here you can find information about meetings, and more information for
			this year. Please be outside of the front doors of the school at 5pm/8am,
			or you will have to be let in by a mentor later.
		</p>
		<p>
			<b><i>Please check calendar for specific days we will not meet.</i></b>
		</p>
		<ul>
			<li>
				Schedule before January 7th, 2023
				<ul>
					<li>Friday: 5-8pm</li>
				</ul>
			</li>
			<li>
				Schedule after January 7th, 2023
				<ul>
					<li>Monday: 5-8pm</li>
					<li>Tuesday: 5-8pm</li>
					<li>Wesnesday: 5-8pm</li>
					<li>Thursday: 5-8pm</li>
					<li>Friday: 5-8pm</li>
					<li>Saturday: 8am-1pm</li>
				</ul>
			</li>
		</ul>
		<h2>Meeting Calendar:</h2>
		<iframe
			src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=1&showNav=1&showDate=1&showPrint=0&showTabs=0&showCalendars=0&showTz=1&src=NjFjZDcwOTExYjhiMWFjZDI4OWY1NmUzMDZhMjk5MGE5Y2JmYTkxY2ExNGQ0OTI0OTIwNzY2ODVlM2QyZTY5N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342"
			style="border-width:0"
			width="800"
			height="600"
			frameborder="0"
			scrolling="no"></iframe>
	</TextSection>
</Layout>
