---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: `Sponsor Page`,
	description: `Our current sponsors and information on how to sponsor our team.`,
};
---

<Layout {seo}>
	<TextSection narrow>
		<h1>Support Us</h1>

		<p>
			If you are interested in becoming a sponsor of the team, or are looking to
			do an in-kind donation, please contact us at
			team2053tigertronics@gmail.com
		</p>
	</TextSection>
</Layout>
